@font-face {
    font-family: 'Neuropol';
    src: url("../fonts/neuropol.otf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:WHITE;  
}
.parent-cont{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100vh;
}

::selection {
    background-color: #C9EEFC;
}

/* Section Panel */
.column-option{
    background-color:white ;
    width: 100%;
    min-width:318px;
    border-right: 1px #e4e4e7 solid ;
}
.content-title{
    display: flex;
    align-content: center;
    justify-content: left;
    margin: 2.5rem 1rem;
    user-select: none;
    
}
.content-title h1{
    font-family: 'Neuropol', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    /* color: #F1721C; */
    display: flex;
    align-self: center;
    color: #302F2F ;
}
 /*  */
.contenedor-logo {
    user-select: none;
    max-width: 60px; 
    margin: 0rem 0.5rem;
}
.contenedor-logo img {
    max-width: 100%; 
    height: auto;
    user-select: none;
    pointer-events: none;
   
}

.list-option{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.option{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
a{
    text-decoration: none;
    color: #302F2F ;
    user-select: none;
    display:block;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
}

.background-option{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 12px 0px 12px 30px;
    cursor: pointer;
}

.contenedor-imagen {
    /* Estilos para el contenedor padre, puedes establecer un ancho máximo si es necesario */
    max-width: 60px; /* Por ejemplo, establece un ancho máximo */
    /* Alinea la imagen en el centro horizontalmente */
    user-select: none;
    pointer-events: none;
}

.contenedor-imagen img {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor padre */
    height: auto; /* Mantiene la proporción de la imagen */
    user-select: none;
}

.background-option:hover{
    background-color: #FFE5D3 ;
    transition: 0.3s;
    border-left: 10px #FB5D4D solid;
}

/*  */
.background-option:hover a{
    color: #FB5D4D;
}

.option .background-option img {
    filter: grayscale(100%); /* Convertir la imagen a escala de grises */
}
  
  /* Estilo cuando se pasa el cursor sobre .background-option */
  .option .background-option:hover img {
    filter: sepia(100%) hue-rotate(10deg) brightness(1.1) saturate(42.8); /* Cambiar el color de la imagen */
  }

/* Section ControlContent */

.column-content{
    background-color:#F5F5F5;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
} 

.header-content{
    background-color: white;    
    margin:20px 0px;
    height: 120px;
    border-top: #e4e4e7  1px  solid;
    border-bottom:#e4e4e7 1px solid;
}

.content-section{
    overflow: auto;
    padding:15px 10px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}


@media (max-width: 768px) {
    .column-option {
        display: none; /* Oculta la columna en pantallas pequeñas */
    }

    .parent-cont {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    }

    /* Ajusta el ancho del contenido principal para ocupar todo el ancho disponible */
    .column-content {
        grid-template-columns: 1fr;
    }
}