*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color:WHITE;  
}
.parent-cont{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100vh;
}
::selection {
    background-color: #FFE5D3;
}

/* Section Panel */
.column-option{
    background-color:white ;
    width: 100%;
    min-width:318px;
    border-right: 1px #e4e4e7 solid ;
}
.content-title{
    display: flex;
    align-content: center;
    justify-content: left;
    margin: 2rem 1rem;
}
.content-title h1{
    font-size: 1.8rem;
    /* color: #F1721C; */
    display: flex;
    align-self: center;
    color: #302F2F ;
}

.contenedor-logo {
    user-select: none;
    max-width: 60px; 
    margin: 0rem 0.5rem;
}
.contenedor-logo img {
    max-width: 100%; 
    height: auto;
    user-select: none;
    pointer-events: none;
   
}

.list-option{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.option{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
a{
    text-decoration: none;
    color: #302F2F ;
    user-select: none;
    display:block;
    font-size: 1.5rem;
    margin: 8px;
}

.background-option{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 12px 0px 12px 30px;
    cursor: pointer;
}
.contenedor-imagen {
    /* Estilos para el contenedor padre, puedes establecer un ancho m치ximo si es necesario */
    max-width: 60px; /* Por ejemplo, establece un ancho m치ximo */
    /* Alinea la imagen en el centro horizontalmente */
    user-select: none;
    pointer-events: none;
}

.contenedor-imagen img {
    max-width: 100%; /* La imagen se ajustar치 al ancho del contenedor padre */
    height: auto; /* Mantiene la proporci칩n de la imagen */
    user-select: none;
}



.background-option:hover{
    background-color: #FFE5D3 ;
    transition: 0.3s;
    border-left: 10px #F1721C solid;
}
/* Section ControlContent */

.column-content{
    background-color:#F9F9F9;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
} 

.header-content{
    background-color: white;    
    margin:20px 0px;
    height: 120px;
    border-top: #e4e4e7  1px  solid;
    border-bottom:#e4e4e7 1px solid;
}

.content-section{
    overflow: auto;
    padding:15px 10px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

}