.content-form-user{
    display: flex;
    flex-direction: row; /* Establecer la dirección de fila predeterminada */
    flex-wrap: wrap;
    justify-content: center;
}
.form-employee{
    height: auto; /* Cambia la altura para ajustar automáticamente según el contenido */
    width: 45vw;
    user-select: none;
}
.title-form-employee{
    font-size: 2rem;
    color: #2D2D2D;
}

.inputs {
    width: calc(50% - 5px); /* Divide el ancho en 2 columnas, con 5px de espacio entre ellas */
    height: 55px;
    margin-bottom: 25px;
    margin-left: 2px;
    display: inline-block;
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

input {
    width: 100%;
    height: 100%;
    font-size:1.2rem;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgb(211, 211, 211);
    user-select: none;
}

input:focus {
    border-bottom: 2px #FB5D4D solid;
    transition: .9s;
    outline: none;
}

.select {
    font-size: 1.2rem;
    cursor:pointer;
    color: #757575;
    user-select: none;
}
.select:focus{
    cursor: pointer;
    color: #302F2F;
}

a {
    text-decoration: none;
    list-style: none;
}
.descript-info {
    width: 100%;
    height: 55px;
    margin-top: 20px;
    text-align: center;
}
.btn-submit {
    color: aliceblue;
    border-radius: 3px;
    background-color: #302F2F ;
    transition: 0.4s;
    margin-bottom: 12px;
    align-items: center;
    margin-top: 25px;
}
.info {
    margin-top: 25px;
    color: rgb(93, 91, 91);
    align-self: center;
    user-select: none;
    text-align: justify;
}
.btn-submit:hover {
    cursor:pointer;
    transition: 0.4s;
    background-color: #FB5D4D;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.content-section-photo {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto; /* Ajusta la altura para que sea igual al formulario */
    padding: 25px;
}

.section-photo {
    text-align: center;
    user-select: none;
}


.contenedor-perfil {
    max-width: 100%; /* Ancho fijo del contenedor */
    height: 250px; /* Alto fijo del contenedor */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    pointer-events: none;
}

.contenedor-perfil img {
    max-width: 100%; /* Hace que la imagen se ajuste al tamaño del contenedor sin distorsionarla */
    max-height: 100%; /* Asegura que la altura de la imagen también se ajuste al contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste dentro del contenedor manteniendo su proporción y recortando si es necesario */
    pointer-events: none;
}

.btn-photo {
    color: aliceblue;
    border-radius: 3px;
    background-color: #302F2F ;
    margin: 20px;
    align-items: center;
    margin-top: 25px;
    border: none;
    font-size: 1.5rem;
}
.btn-photo:hover {
    cursor:pointer;
    transition: 0.4s;
    background-color: #FB5D4D;
}

.photo{
    display: none;
}
.lbl-photo{
    border-radius: 8px;
    color: white;
    background-color: #302F2F ;
    padding: 0px 20px;
    transition: 0.4s;
    font-size: 1.2rem;
}
.lbl-photo:hover{
    background-color: #FB5D4D;
    color: white;
    
}

@media (max-width: 768px) {
    .content-form-user {
        flex-direction: row; /* Cambiar a dirección de columna en pantallas pequeñas */
    }
    .content-section-photo {
        flex-basis: 100%; /* La sección de fotos ocupa todo el ancho en pantallas pequeñas */
    }
    .form-employee {
        flex-basis: 100%; /* El formulario ocupa todo el ancho en pantallas pequeñas */
    }
}